.header-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: top right;

  &__play {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &-text {
      font-family: inherit;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.5;
      color: $gray;
    }
  }

  &__heading {
    width: 100%;
    max-width: 50rem;
    font-family: inherit;
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 1.3;
    padding: 1px;

    color: $gray;
    margin-bottom: 6rem;
  }

  &__buttons {
    button {
      margin-right: 2.4rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
}
