.section-curse {
    padding-bottom: 16rem;
}
.curse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}
.curse-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}