.btn {
  border-radius: 4px;
  width: 100%;
  width: 20.3rem;
  height: 5.05rem;

  background: $btn-gradient;
  border: none;
  cursor: pointer;
  outline: none;

  font-family: $lato;
  font-weight: bold;
  font-size: inherit;
  letter-spacing: 0.5px;
  border: 2px solid transparent;

  color: $white;

  transition: all 0.3s linear;

  &:hover {
    background: $white;
    color: #f75e05;
    border: 2px solid;
    border-color: linear-gradient(#f75e05, #ff3f3a);
    background: transparent;
  }
  &--medium {
    width: 202px;
  }
  &--small {
    max-width: 148px;
    height: 52px;
  }
  &--extra__small {
    width: 136px;
    height: 44px;
    font-size: 14px;
  }

  &--transparent {
    background: $white;
    color: #f75e05;
    border: 2px solid;
    border-color: linear-gradient(#f75e05, #ff3f3a);
    background: transparent;

    &:hover {
      border: 2px solid transparent;
      background: $btn-gradient;
      color: $white;
    }
  }
}
